.x-list {

  &.campaign-list {

    .x-list-item.x-list-item-tpl {
      border-top-color: theme(border light);
      border-bottom: 1px solid theme(border dark);
      color: theme(text);

      &.x-item-pressed {
        border-top-color: theme(border dark);
        background: theme(border dark);
      }

      &.x-item-selected {
        border-top-color: theme(border dark);
        background: lighten(theme(border dark), 5%);
      }

      &.x-list-footer-wrap {
        border-bottom-color: theme(border dark);
      }
    }
  }
}

.campaign-list-container {
  @include clearfix;
}

.campain-list-img,
.campain-list-img img {
  display: block;
}

.campain-list-img {
  $border-size: 2px;

  @include border-radius($campain-list-img-size * .5);
  float: left;
  overflow: hidden;
  width: $campain-list-img-size;
  height: $campain-list-img-size;
  margin: 0 $base-margin 0 0;
  border: $border-size solid theme(border dark);
  background: theme(border dark);
}

.campain-list-title {
  margin-top: 2px;
  padding-right: $base-margin + $badge-size;

  small,
  strong {
    display: block;
  }

  small {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: $base-margin * .5;
    font-size: .75em;
  }

  strong {
    color: theme(navigation link);
    font-weight: bold;
  }
}

.badge {
  @include border-radius($badge-size * .5);
  display: block;
  position: absolute;
  top: 50%;
  right: $base-margin * 1.5;
  min-width: $badge-size;
  height: $badge-size;
  margin-top: - $badge-size * .5;
  line-height: $badge-size;
  background: theme(navigation link);
  color: theme(page-dark);
  font-size: .75em;
  text-align: center;
  font-weight: bold;

  &.badge-0 {
    background: theme(border dark);
    color: theme(border dark);
  }
}