.details-container {
  padding: $base-padding * 2 0 0;
}

.details-header {
  @include clearfix;
}

.details-img {
  $border-size: 2px;

  float: left;
  overflow: hidden;
  width: $details-list-img-size;
  height: $details-list-img-size;
  margin: 0 $base-margin 0 $base-margin * 1.5;

  img {
    @include border-radius($details-list-img-size * .5);
    border: $border-size solid theme(border dark);
  }
}

.details-header {
  padding: 0 $base-padding * 1.5;

  time,
  small,
  strong {
    display: block;
  }

  time,
  .required-amount {
    text-align: right;
  }

  time {
    padding: $base-padding * 1.2 0;
    border-bottom: 1px solid theme(border dark);

    strong {
      color: theme(text, abslight);
    }
  }

  small,
  strong {
    font-size: .7em;
  }

  small {
    margin: 0 0 $base-margin * .35;
  }

  strong {
    font-weight: bold;
  }

  .required-amount {
    padding: $base-padding * .9 0;
    border-top: 1px solid theme(border light);

    strong {
      font-size: 1em;
      color: theme(navigation link);
    }
  }
}

.description-container {
  padding: $base-padding * 1.5;

  strong {
    font-weight: bold;
  }

  .info-sms,
  .info-campaign {
    color: theme(text, darkish);
  }

  .info-sms {
    padding: 0 0 .5em;
    border-bottom: 1px solid theme(border dark);

    strong {
      color: theme(navigation link);
    }
  }

  .description {
    padding: .75em 0;
    border-top: 1px solid theme(border light);
    border-bottom: 1px solid theme(border dark);
    line-height: 1.5;
  }

  .info-campaign {
    padding: .5em 0;

    &.first-child {
      border-top: 1px solid theme(border light);
    }
  }
}

.app-actions {
  padding: $base-padding $base-padding * 1.5;
  text-align: center;

  .app-button {
    @include background-image(
      linear-gradient(
        lighten(theme(navigation link), 7%),
        darken(theme(navigation link), 5%)
      )
    );
    @include box-shadow(rgba(theme(page-dark, absdark), .35) 0 2px 3px);
    @include border-radius($base-radius * .35);
    display: inline-block;
    padding: $base-padding $base-padding * 2;
    border-color: darken(theme(navigation link), 7%);
    font-size: .75em;
    text-transform: uppercase;
    color: theme(page-dark);

    &.x-button-pressing {
      @include background-image(
        linear-gradient(
          darken(theme(navigation link), 14%),
          darken(theme(navigation link), 6%)
        )
      );
      @include box-shadow(rgba(theme(page-dark, absdark), .35) 0 2px 5px inset);
      padding: $base-padding * 1 + 1px $base-padding * 2 $base-padding * 1 - 1px;
      border-color: theme(border dark);
    }
  }
}