/* =============================================================================
  SETUP
============================================================================= */

$theme:
  page-dark       #30353c
  text            #d4d4d4
  shadow          #202328

  navigation (
    link          #ff9b15
    active        #171a1e
  )

  border (
    dark          #1c1f24
    light         #3c4147
  )
;

$levels:
  absdark        -100%
  darkest        -75%
  darker         -50%
  dark           -25%
  darkish        -10%
  original         0%
  lightish        10%
  light           25%
  lighter         50%
  lightest        75%
  absligh        100%
;

@import 'functions';

/* =============================================================================
  APP DEFAULTS
============================================================================= */

$campain-list-img-size: 48px;
$base-margin:           10px;
$base-padding:          $base-margin;
$base-radius:           $base-margin;

/* =============================================================================
  SENCHA DEFAULTS
============================================================================= */

$loading-spinner-color: theme(navigation link);
$base-color:            theme(page-dark);
$page-bg-color:         theme(page-dark);
$active-color:          theme(navigation link);
$include-border-radius: false;

$include-highlights:    false;