.app-titlebar,
.app-tabbar {
  @include box-shadow(rgba(theme(shadow), .75) 0 -3px 5px);
  position: relative;
  z-index: 1;
  border: 0 none;
  background: darken(theme(page-dark), 2%);
}

.app-titlebar {
  @include box-shadow(rgba(theme(shadow), .75) 0 3px 5px);

  .x-title {

    .x-innerhtml {
      width: image-width($logo-small);
      height: image-height($logo-small);
      background: transparent inline-image($logo-small) no-repeat 0 0;
      text-indent: -999px;
    }
  }

  .x-button {

    &.button-back {
      overflow: hidden;
      width: image-width($button-back);
      height: image-height($button-back);
      margin-left: $base-margin * 1.5;
      border: 0 none;
      background: transparent inline-image($button-back) no-repeat 0 50%;
      text-indent: -999px;
    }
  }
}

.x-tabbar {
  
  &.app-tabbar {
    height: 48px;

    .x-tab-icon {
      position: relative;
      width: 25%;
      height: 48px;
      padding: 0 !important;
      border-left: 1px solid theme(border light);
      border-right: 1px solid theme(border dark);

      &.x-tab-active {
        border-left-color: theme(border dark);
        background: theme(navigation active);

        &:before {
          content: " ";
          position: absolute;
          top: - $base-margin;
          left: 50%;
          height: 0;
          width: 0;
          margin-left: - $base-margin;
          border-left: $base-margin solid transparent;
          border-right: $base-margin solid transparent;
          border-bottom: $base-margin solid theme(navigation active);
        }
      }
    }
  }
}