.app-titlebar,
.app-tabbar,
.app-actions {
  @include box-shadow(rgba(theme(shadow), .75) 0 -3px 5px);
}

.app-titlebar,
.app-tabbar {
  position: relative;
  z-index: 1;
  border: 0 none;
  background: darken(theme(page-dark), 2%);
}

.app-titlebar {
  @include box-shadow(rgba(theme(shadow), .75) 0 3px 5px);

  .x-title {

    .x-innerhtml {
      width: image-width($logo-small);
      height: image-height($logo-small);
      background: transparent inline-image($logo-small) no-repeat 0 0;
      text-indent: -999px;
    }
  }

  .x-button {

    &.button-back {
      overflow: hidden;
      width: image-width($button-back);
      height: image-height($button-back);
      margin-left: $base-margin * 1.5;
      border: 0 none;
      background: transparent inline-image($button-back) no-repeat 0 50%;
      text-indent: -999px;
    }
  }
}

.x-tabbar {
  
  &.app-tabbar {
    height: 48px;

    .x-tab-icon {
      position: relative;
      width: 25%;
      height: 48px;
      padding: 0 !important;
      border-left: 1px solid theme(border light);
      border-right: 1px solid theme(border dark);

      &.x-tab-active {
        border-left-color: theme(border dark);
        background: theme(navigation active);

        &:before {
          content: " ";
          position: absolute;
          top: - $base-margin;
          left: 50%;
          height: 0;
          width: 0;
          margin-left: - $base-margin;
          border-left: $base-margin solid transparent;
          border-right: $base-margin solid transparent;
          border-bottom: $base-margin solid theme(navigation active);
        }
      }
    }
  }
}

.x-tabbar.app-tabbar {

  .x-tab {

    .x-button-label {
      margin: -3px 0 0;
      padding: 0;
      line-height: 11px;
      font-size: 11px;
      color: theme(text);
    }

    .x-button-icon {
      margin-top: $base-margin * .5;
      -webkit-mask-box-image: none;

      &:before {
        content: "";
      }

      &.people { background: transparent inline-image('icon-people.png') no-repeat 0 0; }
      &.organizations { background: transparent inline-image('icon-organizations.png') no-repeat 0 0; }
      &.others { background: transparent inline-image('icon-others.png') no-repeat 0 0; }
      &.history { background: transparent inline-image('icon-history.png') no-repeat 0 0; }
    }
  }

  .x-tab-icon {

    &.x-tab-active {

      .people { background-image: inline-image('icon-people_active.png'); }
      .organizations { background-image: inline-image('icon-organizations_active.png'); }
      .others { background-image: inline-image('icon-others_active.png'); }
      .history { background-image: inline-image('icon-history_active.png'); }

      .x-button-label {
        color: theme(navigation link);
      }
    }
  }
}
