@import 'constants';

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

/* =============================================================================
  GENERAL
============================================================================= */

body {
  background: theme(page-dark);
}

img {
  display: block;
  max-width: 100% !important;
  height: auto;
}

h1 {
  margin-bottom: $base-margin * 1.5;
  font-size: 135%;
  color: theme(navigation link);
}

.x-container {

  &.app-container,
  &.app-page,
  &.campaign-list {
    background: theme(page-dark);
    color: theme(text);
  }
}

.x-list-paging {

  .x-list-paging-msg {
    color: theme(navigation link);
  }
}

/* =============================================================================
  PARTIALS
============================================================================= */

@import 'toolbars';
@import 'campaign-list';
@import 'campaign-details';
