.x-list {

  &.campaign-list {

    .x-list-item {
      color: theme(text);
    }
  }
}

.campain-list-img,
.campain-list-img img {
  @include border-radius($campain-list-img-size);
  display: block;
  width: $campain-list-img-size;
  height: $campain-list-img-size;
}