.app-tabbar {
  @include box-shadow(rgba(theme(shadow), .75) 0 -3px 5px);
  position: relative;
  z-index: 1;
  border: 0 none;
  background: darken(theme(page-dark), 2%);
}

.x-tabbar {
  
  &.app-tabbar {
    height: 48px;

    .x-tab-icon {
      width: 25%;
      height: 48px;
      padding: 0 !important;

      &.x-tab-active {
        background: theme(navigation active);
      }
    }
  }
}